/* @media screen and (min-width: 480px) {
  .buttons{
    flex-direction: column-reverse;
  }
  #new-quote{
    margin-top:50px ;
  }
  #tweet-quote{
    margin-bottom:10px ;
  }
} */

.App {
  text-align: center;
}

#quote-box{
  background-color: white;
  color: #000;
  border-radius: 6px;
  padding: 15px;
}

#tweet-quote{
  float: left;
  padding: 10px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  min-height: 2px;
  border-radius: 3px;
  align-self: center;
}
#new-quote{
  float: right;
  color: white;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  min-height: 30px;
  display: flex;
  font-size: 13px;
}

#author{
  text-align: end; 
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .buttons{
  

} */



